---
version: 2.1

executors:
  default:
    working_directory: ~/rails_app
    docker:
      - image: circleci/ruby:2.7.1-node-browsers
        environment:
          PGHOST: localhost
          PGUSER: rails_app
          RAILS_ENV: test
          NODE_ENV: test
      - image: postgres:9.5
        environment:
          POSTGRES_USER: rails_app
          POSTGRES_DB: rails_app_test
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust

commands:
  configure_bundler:
    description: Configure bundler
    steps:
      - run:
          name: Configure bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler

jobs:
  build:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - rails_app-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - rails_app-
            - yarn-cache-v1-{{ checksum "yarn.lock" }}
            - yarn-cache-v1-
      - configure_bundler
      - run:
          name: Install bundle
          command: bundle install
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:5432 -timeout 1m
      - run:
          name: Setup DB
          command: bundle exec rails db:create db:schema:load --trace
      - run: yarn install --cache-folder ~/.cache/yarn
      - run: bundle exec rake webpacker:compile
      - save_cache:
          key: rails_app-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - save_cache:
          key: yarn-cache-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: ~/
          paths:
            - ./rails_app
      - run:
          name: Run Tests
          command: bundle exec rake
  rubocop:
    executor: default
    steps:
      - attach_workspace:
          at: ~/
      - configure_bundler
      - run:
          name: Rubocop
          command: bundle exec rubocop


workflows:
  version: 2
  integration:
    jobs:
      - build
      - rubocop:
          requires:
            - build